---
import type { CollectionEntry } from 'astro:content';
import ChevronRightIcon from '@lucide/astro/icons/chevron-right';
import { ArrowBigRight, ArrowRight } from '@lucide/astro';

interface Props {
  project: CollectionEntry<'projects'>;
}

const { project }: Props = Astro.props;
---

<article class="flex flex-col gap-3 py-5 md:gap-4 md:py-6">
  <div class="flex flex-col gap-2">
    <a
      class="text-xl leading-tight font-semibold flex items-center gap-1 text-foreground transition-colors hover:text-accent md:text-3xl"
      href={`/projects/${project.id}`}
    >
      <span>{project.data.title}</span>
      <ArrowRight size={24} stroke-width={3} class="mt-1" />
    </a>
    <p class="text-sm leading-relaxed text-body-copy md:text-base">
      {project.data.tagline}
    </p>
  </div>

  {
    project.data.tags.length > 0 && (
      <p class="font-mono text-xs leading-relaxed text-muted-foreground md:text-sm">
        {project.data.tags.join(' · ')}
      </p>
    )
  }
</article>
