---
import ContentListItem from './ContentListItem.astro';

interface Item {
  href: string;
  title: string;
  excerpt?: string;
  tags?: string[];
  publishedAt?: Date;
}

interface Props {
  entityType: string;
  title: string;
  subtitle: string;
  items: Item[];
}

const { entityType, title, subtitle, items }: Props = Astro.props;
---

<section class="mx-auto mb-8 flex w-full max-w-4xl flex-col gap-8 md:gap-10">
  <div class="flex flex-col items-start gap-3 pt-2 md:items-center md:pt-4">
    <p class="text-xs font-medium text-muted-foreground uppercase">All {entityType}</p>
    <h1
      class="max-w-3xl text-3xl leading-tight font-semibold text-foreground md:text-center md:text-5xl"
    >
      {title}
    </h1>
    <p class="max-w-2xl text-sm leading-relaxed text-body-copy md:text-center md:text-lg">
      {subtitle}
    </p>
  </div>

  <div>
    {
      items.map((item) => (
        <div>
          <ContentListItem {...item} />
        </div>
      ))
    }
  </div>
</section>
