<a class="text-ticker-text" href="#top">
  <span class="flex w-28 flex-col gap-0.5 md:w-32">
    <span class="brand-rule"></span>
    <span class="text-center text-base font-black md:text-lg">Tom Radford</span>
    <span class="brand-rule"></span>
  </span>
</a>
