<a class="text-brand-text" href="#top">
  <span class="flex w-full flex-col gap-1 md:w-32">
    <span class="h-0.5 w-full bg-brand-text"></span>
    <span
      class="whitespace-nowrap text-center text-lg font-black leading-none text-brand-text md:text-xl"
    >
      Tom Radford
    </span>
    <span class="h-0.5 w-full bg-brand-text"></span>
  </span>
</a>
