---
interface Props {
  labels: string[]
}

const { labels } = Astro.props
---

<div class="flex items-center gap-6 px-6">
  {
    labels.map((label) => (
      <span class="text-2xl whitespace-nowrap text-center font-black leading-none text-brand-text md:text-3xl">
        {label}
      </span>
    ))
  }
</div>
